<% var head ={ %>
<title>客户管理</title>
<% }; var ctrls= "ng-controller='CustomerCtrls'" ; var body={ %>

<% if( so.hasPermission("/system/user/add")) {%>
<div ng-model="so_add" ng-init="so_add=true"></div>
<% } if( so.hasPermission("/system/user/edit")) {%>
<div ng-model="so_edit" ng-init="so_edit=true"></div>
<% }if( so.hasPermission("/system/user/delete")) {%>
<div ng-model="so_delete" ng-init="so_delete=true"></div>
<% }if( so.hasPermission("/system/user/batchDelete")) {%>
<div ng-model="so_batchDelete" ng-init="so_batchDelete=true"></div>
<%}if( so.hasPermission("/system/user/serach")) {%>
<div ng-model="so_serach" ng-init="so_serach=true"></div>
<%}%>


<div class="easyui-layout" data-options="fit : true,border : false">
	<div data-options="region:'center',border:false">
		<table id="dg" style="text-align: center"></table>
	</div>
</div>
<div id="toolbar" style="padding:2px 5px;display: none;">
    <div>
        <form id="searchForm" style="margin-top: 5px;margin-bottom: 5px;">
			客户名称:<input name="name" style="width:110px" class="easyui-textbox" placeholder="可以模糊查询登录名" />
        创建时间:<input class="easyui-datetimebox"  style="width:130px" name="insertDateStart" id="insertDateStart">
        至: <input class="easyui-datetimebox"  style="width:130px" name="insertDateEnd" id="insertDateEnd">
        状态:
        <select class="easyui-combobox" panelHeight="auto" style="width:110px" name="status" editable="false">
            <option value="">选择状态
            <option value="1">正常
            <option value="2">冻结
        </select>

        <a ng-show="so_serach" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" ng-click="searchFun();">搜索</a>
        <a ng-show="so_serach" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" ng-click="cleanFun();">清空</a>
        </form>
    </div>
    <div>
        <a ng-show="so_add" ng-click="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">添加</a>
        <a ng-show="so_batchDelete" ng-click="batchDeleteFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'delete'">批量删除</a>
    </div>

</div>

<div id="menu" class="easyui-menu" style="width: 120px; display: none;">
     	<a ng-show="so_add" ng-click="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">添加</a>
		<div  ng-show="so_delete" ng-click="deleteFun();" data-options="iconCls:'pencil_delete'">删除</div>
		<div  ng-show="so_edit" ng-click="editFun();" data-options="iconCls:'pencil'">编辑</div>
</div>

<!--  dialog -->
<div id="dlg" class="easyui-dialog" style="width: 450px; height: 410px; padding: 5px 10px" closed="true" buttons="#dlg-buttons"
	data-options="resizable:true,modal:true">

	<div class="easyui-layout" data-options="fit:true,border:false">
		<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
			<form id="fm" method="post">
				<input name="customer.id" type="hidden">
				<table class="table table-hover table-condensed">
					<tr>
						<th>客户名称</th>
						<td><input name="customer.name" id="name" type="text" placeholder="请输入供应商名称" class="easyui-validatebox span2" data-options="required:true" value=""></td>
					</tr>
					<tr>
						<th>联系人</th>
                        <td><input name="customer.contact" id="contact" type="text" placeholder="请输入联系人" class="easyui-validatebox span2" data-options="required:true"></td>
					</tr>
					<tr>
						<th>联系电话</th>
						<td><input name="customer.phone" id="phone" type="text" placeholder="请输入电话" class="easyui-validatebox span2" data-options="required:true"></td>
					</tr>
                    <!--
                    <tr>
                        <th>传真</th>
                        <td><input name="customer.fax" id="fax" type="text" placeholder="请填写传真" class="span2"></td>
                    </tr>
                    -->
                    <tr>
                        <th>地址</th>
                        <td><input name="customer.address" id="address" type="text" placeholder="请输入地址" class="easyui-validatebox span2" data-options="required:true"></td>
                    </tr>
                    <!--
                    <tr>
                        <th>开户银行</th>
                        <td><input name="customer.bank" id="bank" type="text" placeholder="请填写开户银行" class="span2"></td>
                    </tr>
                    <tr>
                        <th>银行账号</th>
                        <td><input name="customer.bank_account" id="bank_account" type="text" placeholder="请填写银行账号" class="span2"></td>
                    </tr>
                    -->
					<tr>
						<th>供应内容</th>
						<td><textarea rows="4" cols="8" name="customer.content" id="content"></textarea></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div id="dlg-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton" ng-click="submit('#fm','#dlg')">确定</a> <a href="javascript:void(0)" class="easyui-linkbutton"
		onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<%}; var js={%>


<script type="text/javascript">

var uploadevent=function(status, picUrl, callbackdata) {
		//alert(callbackdata);
	status += '';
	switch (status) {
	case '1':
		var time = new Date().getTime();
		var filename48 = picUrl + '_48.jpg';
		var path= filename48+ "?"+ time;
		 $('#dlg-img').dialog('close'); 
		 $('#icon').attr('src',path);
		 
		 $("input[name='user.icon']").val(filename48);
		break;
	case '0':
		window.location.reload();
		break;
	}
};


var formatterFun = function(value, row, index) {
		var str = '';
<%if( so.hasPermission("/system/user/edit"))%>
		str += $.formatString('<img style="float:left;" onclick="$(this).scope().editFun(\'{0}\');" src="{1}" title="编辑"/>',row.id,'${CONTEXT_PATH}/static/js/ext/style/images/extjs_icons/pencil.png');
<%if( so.hasPermission("/system/user/freeze")) %>
		str += $.formatString('<img style="float:left;" onclick="$(this).scope().freeze(\'{0}\',\'{1}\');" src="{2}" title="冻结"/>',row.id, row.status,'${CONTEXT_PATH}/static/js/ext/style/images/extjs_icons/lock/lock.png');
<%if( so.hasPermission("/system/user/delete")) %>
		str += $.formatString('<img style="float:left;" onclick="$(this).scope().deleteFun(\'{0}\');" src="{1}" title="删除"/>',row.id,'${CONTEXT_PATH}/static/js/ext/style/images/extjs_icons/cancel.png');
<% %>
		return str + '';
	}
</script>

<script src="${CONTEXT_PATH}/static/app/stock-ctrls/customer-ctrls.js" type="text/javascript"></script>


<%}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}){}%>

