<% var head ={ %>
<title>入库查询</title>
<% }; var ctrls= "ng-controller='product_search'" ; var body={ %>
<div class="easyui-layout" data-options="fit : true,border : false">
    <div data-options="region:'center',border:false">
        <table id="productWarning"></table>
    </div>
</div>

<div id="inStorageDetailtoolbar" style="display: none;">
    <div>
        <input type="hidden" id="inId" name="inId" value="${inId!}">
        <form id="detailSearchForm">
            货物查询:<input id="search_input" name="yzwstock_product.name" style="width:110px" class="easyui-textbox" placeholder="请输入" />
            <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="detailSearchFun()">搜索</a>
            <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" onclick="detailCleanFun()">清空</a>
        </form>
    </div>
</div>

<!--  dialog -->
<div id="warning-dlg" class="easyui-dialog" style="width: 450px; height: 240px; padding: 5px 10px" closed="true" buttons="#dlg-buttons"
     data-options="resizable:true,modal:true" title="设置预警">

    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
            <form id="yj_form" method="post">
                <input name="warning.id" id="warid" type="hidden">
                <input name="stockid" id="stockid" type="hidden">
                <input name="productid" id="productid" type="hidden">
                <table class="table table-hover table-condensed">
                    <tr>
                        <th>一级预警</th>
                        <td><input name="warning.warning_first"  type="text" placeholder="请输入预警数" class="easyui-validatebox span2"></td>
                    </tr>
                    <tr>
                        <th>二级预警</th>
                        <td><input name="warning.warning_secend"  type="text" placeholder="请输入预警数" class="easyui-validatebox span2"></td>
                    </tr>
                    <tr>
                        <th>三级预警</th>
                        <td><input name="warning.worning_third"  type="text" placeholder="请输入预警数" class="easyui-validatebox span2"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitWar()">确定</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                                                                                                     onclick="javascript:$('#warning-dlg').dialog('close')">取消</a>
</div>


<%}; var js={%>
<script type="text/javascript">
    var detailFormatterFun = function(value, row, index) {
        var str = '';
        str +='<img style="float:left;" onclick="outStockDetailFun('+row.id+','+row.stockid+','+row.productid+');" src="${CONTEXT_PATH}/static/js/ext/style/images/extjs_icons/pencil_add.png" title="添加"/>'
        <% %>
        return  str+'';
    }
</script>

<script src="${CONTEXT_PATH}/static/app/stock-ctrls/product.warning-ctrls.js" type="text/javascript"></script>
<%}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}){}%>